<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Senha</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./../css/redefinir.css">

</head>
<body>

  <div class="card">

    <h1>RECUPERAR SENHA</h1>

    <p>
      Informe seu email e enviaremos um link
      para redefinir sua senha.
    </p>

    <div class="input-box">
      <input type="email" placeholder="Digite seu email">
    </div>

    <button class="btn">
      Redefinir senha
    </button>

    <div class="divider">ou</div>

    <button id="botaoVoltarLogin" class="back-btn">
      ← Voltar para o login
    </button>

  </div>

  <script>
    const botao =
    document.getElementById("botaoVoltarLogin");

    botao.addEventListener("click", () => {
        window.location.href = "/views/login.html"
    });

</script>

</body>
</html>